# Control 3

Para este control trabajaremos sobre un dataset de best sellers del New York Times, que tiene información sobre libros que han estado en la lista.

Pon tu nombre acá: ____Jorge De Goyeneche____

In [ ]:
!wget https://github.com/IIC2413/Syllabus-2022-2/raw/main/Controles/Control%203/nyt2.json

!apt install mongodb
!service mongodb start
!mongoimport --db local --collection nyt --jsonArray < nyt2.json

In [ ]:
from pymongo import MongoClient
client = MongoClient()
client.list_database_names()
db = client['local']
collection = db['nyt']

In [ ]:
import pprint
for book in collection.find({}).limit(1):
    pprint.pprint(book)

{'_id': ObjectId('5b4aa4ead3089013507db18b'),
 'amazon_product_url': 'http://www.amazon.com/Odd-Hours-Dean-Koontz/dp/0553807056?tag=NYTBS-20',
 'author': 'Dean R Koontz',
 'bestsellers_date': datetime.datetime(2008, 5, 24, 0, 0),
 'description': 'Odd Thomas, who can communicate with the dead, confronts evil '
                'forces in a California coastal town.',
 'price': 27,
 'published_date': datetime.datetime(2008, 6, 8, 0, 0),
 'publisher': 'Bantam',
 'rank': 1,
 'rank_last_week': 0,
 'title': 'ODD HOURS',
 'weeks_on_list': 1}

# NoSQL

## Pregunta 1

Encuentre los libros que han estado más de 10 semanas en la lista.

**Codigo comentado lo utilicé para filtrar duplicados**

In [ ]:
#libros = []
for book in collection.find({'weeks_on_list': { '$gt': 10 }}):
  #if (book['publisher'], book['author'], book['title']) not in libros:
  print(f"EDITORIAL: {book['publisher']}, AUTOR: {book['author']}, TITULO: {book['title']}, SEMANAS: {book['weeks_on_list']}")
    #libros.append((book['publisher'], book['author'], book['title']))

## Pregunta 2

Encuentre los libros anteriores al 2015 que estuvieron más de 5 semanas en la lista de best sellers, indique cuantas semanas estuvo cada libro en la lista.

In [ ]:
import datetime
#libros = []
for book in collection.find({'weeks_on_list': { '$gt': 5 }, 'published_date': {'$lt': datetime.datetime(2015,1,1,0,0)}}).sort('weeks_on_list', -1):
  #if (book["title"], book['author'], book['publisher']) not in libros:
  print(f'SEMANAS: {book["weeks_on_list"]}, TITULO: {book["title"]}, AÑO: {book["published_date"].year}')
    #libros.append((book["title"], book['author'], book['publisher']))

SEMANAS: 108, TITULO: THE HELP, AÑO: 2011
SEMANAS: 86, TITULO: A DANCE WITH DRAGONS, AÑO: 2013
SEMANAS: 80, TITULO: GONE GIRL, AÑO: 2014
SEMANAS: 79, TITULO: THE GIRL WHO KICKED THE HORNET’S NEST, AÑO: 2012
SEMANAS: 59, TITULO: THE HOST, AÑO: 2009
SEMANAS: 55, TITULO: THE GOLDFINCH, AÑO: 2014
SEMANAS: 39, TITULO: THE STORY OF EDGAR SAWTELLE, AÑO: 2009
SEMANAS: 33, TITULO: THE GUERNSEY LITERARY AND POTATO PEEL PIE SOCIETY, AÑO: 2009
SEMANAS: 32, TITULO: ALL THE LIGHT WE CANNOT SEE, AÑO: 2014
SEMANAS: 31, TITULO: THE PARIS WIFE, AÑO: 2012
SEMANAS: 29, TITULO: THE LOST SYMBOL, AÑO: 2010
SEMANAS: 29, TITULO: INFERNO, AÑO: 2014
SEMANAS: 26, TITULO: THE HUSBAND'S SECRET, AÑO: 2014
SEMANAS: 25, TITULO: THE INVENTION OF WINGS, AÑO: 2014
SEMANAS: 24, TITULO: AND THE MOUNTAINS ECHOED, AÑO: 2014
SEMANAS: 23, TITULO: DEAD AND GONE, AÑO: 2009
SEMANAS: 22, TITULO: THE LAST SONG, AÑO: 2010
SEMANAS: 22, TITULO: SYCAMORE ROW, AÑO: 2014
SEMANAS: 21, TITULO: THE GIRL WHO PLAYED WITH FIRE, AÑO: 2010
SEMANAS: 21, TITULO: 11/22/63, AÑO: 2012
SEMANAS: 21, TITULO: DOCTOR SLEEP, AÑO: 2014
SEMANAS: 19, TITULO: FREEDOM, AÑO: 2011
SEMANAS: 18, TITULO: THE CONFESSION, AÑO: 2011
SEMANAS: 18, TITULO: ROOM, AÑO: 2011
SEMANAS: 18, TITULO: THE RACKETEER, AÑO: 2013
SEMANAS: 17, TITULO: THE BEST OF ME, AÑO: 2012
SEMANAS: 16, TITULO: THE LITIGATORS, AÑO: 2012
SEMANAS: 16, TITULO: THE LONGEST RIDE, AÑO: 2014
SEMANAS: 15, TITULO: THE LUCKY ONE, AÑO: 2009
SEMANAS: 15, TITULO: SAFE HAVEN, AÑO: 2011
SEMANAS: 15, TITULO: STATE OF WONDER, AÑO: 2011
SEMANAS: 15, TITULO: CALICO JOE, AÑO: 2012
SEMANAS: 15, TITULO: THE TIME KEEPER, AÑO: 2013
SEMANAS: 15, TITULO: THE CASUAL VACANCY, AÑO: 2013
SEMANAS: 15, TITULO: THE FIRST PHONE CALL FROM HEAVEN, AÑO: 2014
SEMANAS: 14, TITULO: LOVE THE ONE YOU'RE WITH, AÑO: 2008
SEMANAS: 14, TITULO: THE ASSOCIATE, AÑO: 2009
SEMANAS: 14, TITULO: FALL OF GIANTS, AÑO: 2011
SEMANAS: 14, TITULO: WINTER OF THE WORLD, AÑO: 2013
SEMANAS: 14, TITULO: SOMEWHERE SAFE WITH SOMEBODY GOOD, AÑO: 2014
SEMANAS: 13, TITULO: THE CHRISTMAS SWEATER, AÑO: 2010
SEMANAS: 13, TITULO: CROSS FIRE, AÑO: 2010
SEMANAS: 13, TITULO: SQUIRREL SEEKS CHIPMUNK, AÑO: 2011
SEMANAS: 13, TITULO: DEAD OR ALIVE, AÑO: 2011
SEMANAS: 13, TITULO: DEATH COMES TO PEMBERLEY, AÑO: 2012
SEMANAS: 13, TITULO: EDGE OF ETERNITY, AÑO: 2014
SEMANAS: 12, TITULO: THE HOUR I FIRST BELIEVED, AÑO: 2009
SEMANAS: 12, TITULO: THE INNOCENT, AÑO: 2012
SEMANAS: 12, TITULO: THE ROUND HOUSE, AÑO: 2013
SEMANAS: 12, TITULO: A MEMORY OF LIGHT, AÑO: 2013
SEMANAS: 11, TITULO: CHASING HARRY WINSTON, AÑO: 2008
SEMANAS: 11, TITULO: A MERCY, AÑO: 2009
SEMANAS: 11, TITULO: CROSS COUNTRY, AÑO: 2009
SEMANAS: 11, TITULO: SCARPETTA, AÑO: 2009
SEMANAS: 11, TITULO: THE LAND OF PAINTED CAVES, AÑO: 2011
SEMANAS: 11, TITULO: CROSS ROADS, AÑO: 2013
SEMANAS: 11, TITULO: THE CUCKOO'S CALLING, AÑO: 2013
SEMANAS: 10, TITULO: DIVINE JUSTICE, AÑO: 2009
SEMANAS: 10, TITULO: HANDLE WITH CARE, AÑO: 2009
SEMANAS: 10, TITULO: SHANGHAI GIRLS, AÑO: 2009
SEMANAS: 10, TITULO: PURSUIT OF HONOR, AÑO: 2010
SEMANAS: 10, TITULO: FORD COUNTY, AÑO: 2010
SEMANAS: 10, TITULO: DEAD IN THE FAMILY, AÑO: 2010
SEMANAS: 10, TITULO: HELL'S CORNER, AÑO: 2011
SEMANAS: 10, TITULO: DEAD RECKONING, AÑO: 2011
SEMANAS: 10, TITULO: KILL SHOT, AÑO: 2012
SEMANAS: 10, TITULO: THE FORGOTTEN, AÑO: 2013
SEMANAS: 10, TITULO: THE TWELVE TRIBES OF HATTIE, AÑO: 2013
SEMANAS: 10, TITULO: TENTH OF DECEMBER, AÑO: 2013
SEMANAS: 10, TITULO: THE OCEAN AT THE END OF THE LANE, AÑO: 2013
SEMANAS: 10, TITULO: S., AÑO: 2014
SEMANAS: 10, TITULO: MR. MERCEDES, AÑO: 2014
SEMANAS: 10, TITULO: THE SILKWORM, AÑO: 2014
SEMANAS: 10, TITULO: WRITTEN IN MY OWN HEART'S BLOOD, AÑO: 2014
SEMANAS: 10, TITULO: BIG LITTLE LIES, AÑO: 2014
SEMANAS: 10, TITULO: PERSONAL, AÑO: 2014
SEMANAS: 9, TITULO: SAIL, AÑO: 2008
SEMANAS: 9, TITULO: THE GATE HOUSE, AÑO: 2009
SEMANAS: 9, TITULO: RUN FOR YOUR LIFE, AÑO: 2009
SEMANAS: 9, TITULO: FIRST FAMILY, AÑO: 2009
SEMANAS: 9, TITULO: SOUTH OF BROAD, AÑO: 2009
SEMANAS: 9, TITULO: TRUE BLUE, AÑO: 2010
SEMANAS: 9, TITULO: UNDER THE DOME, PART 1, AÑO: 2010
SEMANAS: 9, TITULO: HOUSE RULES, AÑO: 2010
SEMANAS: 9, TITULO: SING YOU HOME, AÑO: 2011
SEMANAS: 9, TITULO: THE FIFTH WITNESS, AÑO: 2011
SEMANAS: 9, TITULO: NOW YOU SEE HER, AÑO: 2011
SEMANAS: 9, TITULO: THE ART OF FIELDING, AÑO: 2012
SEMANAS: 9, TITULO: 1Q84, AÑO: 2012
SEMANAS: 9, TITULO: KILL ALEX CROSS, AÑO: 2012
SEMANAS: 9, TITULO: DEFENDING JACOB, AÑO: 2012
SEMANAS: 9, TITULO: A WEEK IN WINTER, AÑO: 2013
SEMANAS: 9, TITULO: THE HIT, AÑO: 2013
SEMANAS: 9, TITULO: BAD MONKEY, AÑO: 2013
SEMANAS: 9, TITULO: CROSS MY HEART, AÑO: 2014
SEMANAS: 9, TITULO: COMMAND AUTHORITY, AÑO: 2014
SEMANAS: 9, TITULO: THE GODS OF GUILT, AÑO: 2014
SEMANAS: 9, TITULO: THE TARGET, AÑO: 2014
SEMANAS: 9, TITULO: LEAVING TIME, AÑO: 2014
SEMANAS: 8, TITULO: SUNDAYS AT TIFFANY’S, AÑO: 2008
SEMANAS: 8, TITULO: JUST AFTER SUNSET, AÑO: 2009
SEMANAS: 8, TITULO: THE 8TH CONFESSION, AÑO: 2009
SEMANAS: 8, TITULO: SWIMSUIT, AÑO: 2009
SEMANAS: 8, TITULO: THE LACUNA, AÑO: 2010
SEMANAS: 8, TITULO: THE GATHERING STORM, AÑO: 2010
SEMANAS: 8, TITULO: HALF BROKE HORSES, AÑO: 2010
SEMANAS: 8, TITULO: WORST CASE, AÑO: 2010
SEMANAS: 8, TITULO: MATTERHORN, AÑO: 2010
SEMANAS: 8, TITULO: THE PASSAGE, AÑO: 2010
SEMANAS: 8, TITULO: THE LION, AÑO: 2010
SEMANAS: 8, TITULO: SIZZLING SIXTEEN, AÑO: 2010
SEMANAS: 8, TITULO: PRIVATE: #1 SUSPECT, AÑO: 2010
SEMANAS: 8, TITULO: AMERICAN ASSASSIN, AÑO: 2010
SEMANAS: 8, TITULO: FULL DARK, NO STARS, AÑO: 2011
SEMANAS: 8, TITULO: WHAT THE NIGHT KNOWS, AÑO: 2011
SEMANAS: 8, TITULO: TICK TOCK, AÑO: 2011
SEMANAS: 8, TITULO: A DISCOVERY OF WITCHES, AÑO: 2011
SEMANAS: 8, TITULO: THE SIXTH MAN, AÑO: 2011
SEMANAS: 8, TITULO: 10TH ANNIVERSARY, AÑO: 2011
SEMANAS: 8, TITULO: SMOKIN’ SEVENTEEN, AÑO: 2011
SEMANAS: 8, TITULO: ONE SUMMER, AÑO: 2011
SEMANAS: 8, TITULO: THE MARRIAGE PLOT, AÑO: 2011
SEMANAS: 8, TITULO: THE WIND THROUGH THE KEYHOLE, AÑO: 2012
SEMANAS: 8, TITULO: 11TH HOUR, AÑO: 2012
SEMANAS: 8, TITULO: BRING UP THE BODIES, AÑO: 2012
SEMANAS: 8, TITULO: SHADOW OF NIGHT, AÑO: 2012
SEMANAS: 8, TITULO: THE LIGHT BETWEEN OCEANS, AÑO: 2012
SEMANAS: 8, TITULO: FLIGHT BEHAVIOR, AÑO: 2013
SEMANAS: 8, TITULO: MERRY CHRISTMAS, ALEX CROSS, AÑO: 2013
SEMANAS: 8, TITULO: THE LAST MAN, AÑO: 2013
SEMANAS: 8, TITULO: THE DINNER, AÑO: 2013
SEMANAS: 8, TITULO: ALEX CROSS, RUN, AÑO: 2013
SEMANAS: 8, TITULO: THE STORYTELLER, AÑO: 2013
SEMANAS: 8, TITULO: LIFE AFTER LIFE, AÑO: 2013
SEMANAS: 8, TITULO: GRAY MOUNTAIN, AÑO: 2014
SEMANAS: 7, TITULO: FEARLESS FOURTEEN, AÑO: 2008
SEMANAS: 7, TITULO: THE BOURNE SANCTION, AÑO: 2008
SEMANAS: 7, TITULO: BLACK OPS, AÑO: 2009
SEMANAS: 7, TITULO: PLUM SPOOKY, AÑO: 2009
SEMANAS: 7, TITULO: JUST TAKE MY HEART, AÑO: 2009
SEMANAS: 7, TITULO: FINGER LICKIN’ FIFTEEN, AÑO: 2009
SEMANAS: 7, TITULO: BEST FRIENDS FOREVER, AÑO: 2009
SEMANAS: 7, TITULO: THAT OLD CAPE MAGIC, AÑO: 2009
SEMANAS: 7, TITULO: PIRATE LATITUDES, AÑO: 2010
SEMANAS: 7, TITULO: U IS FOR UNDERTOW, AÑO: 2010
SEMANAS: 7, TITULO: ABRAHAM LINCOLN: VAMPIRE HUNTER, AÑO: 2010
SEMANAS: 7, TITULO: THE 9TH JUDGMENT, AÑO: 2010
SEMANAS: 7, TITULO: INNOCENT, AÑO: 2010
SEMANAS: 7, TITULO: THE OVERTON WINDOW, AÑO: 2010
SEMANAS: 7, TITULO: STAR ISLAND, AÑO: 2010
SEMANAS: 7, TITULO: TOWERS OF MIDNIGHT, AÑO: 2011
SEMANAS: 7, TITULO: PORT MORTUARY, AÑO: 2011
SEMANAS: 7, TITULO: I’LL WALK ALONE, AÑO: 2011
SEMANAS: 7, TITULO: AGAINST ALL ENEMIES, AÑO: 2011
SEMANAS: 7, TITULO: THE NIGHT CIRCUS, AÑO: 2011
SEMANAS: 7, TITULO: THE AFFAIR, AÑO: 2011
SEMANAS: 7, TITULO: THE CHRISTMAS WEDDING, AÑO: 2011
SEMANAS: 7, TITULO: ZERO DAY, AÑO: 2012
SEMANAS: 7, TITULO: EXPLOSIVE EIGHTEEN, AÑO: 2012
SEMANAS: 7, TITULO: LOCKED ON, AÑO: 2012
SEMANAS: 7, TITULO: PRIVATE GAMES, AÑO: 2012
SEMANAS: 7, TITULO: LONE WOLF, AÑO: 2012
SEMANAS: 7, TITULO: CANADA, AÑO: 2012
SEMANAS: 7, TITULO: WHERE WE BELONG, AÑO: 2012
SEMANAS: 7, TITULO: NOTORIOUS NINETEEN, AÑO: 2013
SEMANAS: 7, TITULO: THREAT VECTOR, AÑO: 2013
SEMANAS: 7, TITULO: THE ENGLISH GIRL, AÑO: 2013
SEMANAS: 7, TITULO: NEVER GO BACK, AÑO: 2013
SEMANAS: 7, TITULO: THE VALLEY OF AMAZEMENT, AÑO: 2014
SEMANAS: 7, TITULO: KING AND MAXWELL, AÑO: 2014
SEMANAS: 7, TITULO: TAKEDOWN TWENTY, AÑO: 2014
SEMANAS: 7, TITULO: STILL LIFE WITH BREAD CRUMBS, AÑO: 2014
SEMANAS: 7, TITULO: MISSING YOU, AÑO: 2014
SEMANAS: 7, TITULO: UNLUCKY 13, AÑO: 2014
SEMANAS: 7, TITULO: TOP SECRET TWENTY-ONE, AÑO: 2014
SEMANAS: 7, TITULO: INVISIBLE, AÑO: 2014
SEMANAS: 7, TITULO: THE BOOK OF LIFE, AÑO: 2014
SEMANAS: 7, TITULO: COLORLESS TSUKURU TAZAKI AND HIS YEARS OF PILGRIMAGE, AÑO: 2014
SEMANAS: 7, TITULO: LILA, AÑO: 2014
SEMANAS: 7, TITULO: PRINCE LESTAT, AÑO: 2014
SEMANAS: 6, TITULO: THE WHOLE TRUTH, AÑO: 2008
SEMANAS: 6, TITULO: ODD HOURS, AÑO: 2008
SEMANAS: 6, TITULO: THE BEACH HOUSE, AÑO: 2008
SEMANAS: 6, TITULO: THE LAST PATRIOT, AÑO: 2008
SEMANAS: 6, TITULO: TRIBUTE, AÑO: 2008
SEMANAS: 6, TITULO: THE SECRET SERVANT, AÑO: 2008
SEMANAS: 6, TITULO: THE OTHER QUEEN, AÑO: 2008
SEMANAS: 6, TITULO: ONE FIFTH AVENUE, AÑO: 2008
SEMANAS: 6, TITULO: THE BRASS VERDICT, AÑO: 2008
SEMANAS: 6, TITULO: EXTREME MEASURES, AÑO: 2008
SEMANAS: 6, TITULO: THE PRIVATE PATIENT, AÑO: 2009
SEMANAS: 6, TITULO: ARCTIC DRIFT, AÑO: 2009
SEMANAS: 6, TITULO: FROM DEAD TO WORSE, AÑO: 2009
SEMANAS: 6, TITULO: HEART AND SOUL, AÑO: 2009
SEMANAS: 6, TITULO: TEA TIME FOR THE TRADITIONALLY BUILT, AÑO: 2009
SEMANAS: 6, TITULO: THE SCARECROW, AÑO: 2009
SEMANAS: 6, TITULO: THE ELEVENTH VICTIM, AÑO: 2009
SEMANAS: 6, TITULO: ALEX CROSS’S ‘TRIAL’, AÑO: 2009
SEMANAS: 6, TITULO: THE SCARPETTA FACTOR, AÑO: 2009
SEMANAS: 6, TITULO: WOLF HALL, AÑO: 2010
SEMANAS: 6, TITULO: I, SNIPER, AÑO: 2010
SEMANAS: 6, TITULO: THE SHADOW OF YOUR SMILE, AÑO: 2010
SEMANAS: 6, TITULO: DELIVER US FROM EVIL, AÑO: 2010
SEMANAS: 6, TITULO: 61 HOURS, AÑO: 2010
SEMANAS: 6, TITULO: HEART OF THE MATTER, AÑO: 2010
SEMANAS: 6, TITULO: THE SEARCH, AÑO: 2010
SEMANAS: 6, TITULO: FLY AWAY HOME, AÑO: 2010
SEMANAS: 6, TITULO: THE REMBRANDT AFFAIR, AÑO: 2010
SEMANAS: 6, TITULO: THE POSTCARD KILLERS, AÑO: 2010
SEMANAS: 6, TITULO: GETTING TO HAPPY, AÑO: 2010
SEMANAS: 6, TITULO: CRESCENT DAWN, AÑO: 2011
SEMANAS: 6, TITULO: THE INNER CIRCLE, AÑO: 2011
SEMANAS: 6, TITULO: TOYS, AÑO: 2011
SEMANAS: 6, TITULO: BURIED PREY, AÑO: 2011
SEMANAS: 6, TITULO: PORTRAIT OF A SPY, AÑO: 2011
SEMANAS: 6, TITULO: FULL BLACK, AÑO: 2011
SEMANAS: 6, TITULO: THE SNOW ANGEL, AÑO: 2011
SEMANAS: 6, TITULO: V IS FOR VENGEANCE, AÑO: 2012
SEMANAS: 6, TITULO: MICRO, AÑO: 2012
SEMANAS: 6, TITULO: THE DROP, AÑO: 2012
SEMANAS: 6, TITULO: THE WOLF GIFT, AÑO: 2012
SEMANAS: 6, TITULO: GUILTY WIVES, AÑO: 2012
SEMANAS: 6, TITULO: THE LOST YEARS, AÑO: 2012
SEMANAS: 6, TITULO: THE SHOEMAKER’S WIFE, AÑO: 2012
SEMANAS: 6, TITULO: DEADLOCKED, AÑO: 2012
SEMANAS: 6, TITULO: STOLEN PREY, AÑO: 2012
SEMANAS: 6, TITULO: MISSION TO PARIS, AÑO: 2012
SEMANAS: 6, TITULO: I, MICHAEL BENNETT, AÑO: 2012
SEMANAS: 6, TITULO: THE FALLEN ANGEL, AÑO: 2012
SEMANAS: 6, TITULO: FRIENDS FOREVER, AÑO: 2012
SEMANAS: 6, TITULO: BLACK LIST, AÑO: 2012
SEMANAS: 6, TITULO: ZOO, AÑO: 2012
SEMANAS: 6, TITULO: A WANTED MAN, AÑO: 2012
SEMANAS: 6, TITULO: THIS IS HOW YOU LOSE HER, AÑO: 2012
SEMANAS: 6, TITULO: THE PANTHER, AÑO: 2012
SEMANAS: 6, TITULO: THE BLACK BOX, AÑO: 2013
SEMANAS: 6, TITULO: PRIVATE BERLIN, AÑO: 2013
SEMANAS: 6, TITULO: SIX YEARS, AÑO: 2013
SEMANAS: 6, TITULO: THE BURGESS BOYS, AÑO: 2013
SEMANAS: 6, TITULO: DADDY'S GONE A HUNTING, AÑO: 2013
SEMANAS: 6, TITULO: WHISKEY BEACH, AÑO: 2013
SEMANAS: 6, TITULO: 12TH OF NEVER, AÑO: 2013
SEMANAS: 6, TITULO: SECOND HONEYMOON, AÑO: 2013
SEMANAS: 6, TITULO: WILLIAM SHAKESPEARE'S STAR WARS, AÑO: 2013
SEMANAS: 6, TITULO: MISTRESS, AÑO: 2013
SEMANAS: 6, TITULO: IDENTICAL, AÑO: 2013
SEMANAS: 6, TITULO: ONE MORE THING, AÑO: 2014
SEMANAS: 6, TITULO: BE CAREFUL WHAT YOU WISH FOR, AÑO: 2014
SEMANAS: 6, TITULO: WORDS OF RADIANCE, AÑO: 2014
SEMANAS: 6, TITULO: NYPD RED 2, AÑO: 2014
SEMANAS: 6, TITULO: I'VE GOT YOU UNDER MY SKIN, AÑO: 2014
SEMANAS: 6, TITULO: NATCHEZ BURNING, AÑO: 2014
SEMANAS: 6, TITULO: THE ONE AND ONLY, AÑO: 2014
SEMANAS: 6, TITULO: THE HEIST, AÑO: 2014
SEMANAS: 6, TITULO: THE SECRET PLACE, AÑO: 2014
SEMANAS: 6, TITULO: DEADLINE, AÑO: 2014
SEMANAS: 6, TITULO: THE BURNING ROOM, AÑO: 2014

## Pregunta 3

Muestre el raking de los editores (publishers) que más semanas han estado en la lista de los best sellers.

In [174]:
import pymongo
group = {
   "$group": {
       "_id": "$publisher",
       "weeks_on_list": {"$sum": 1}
       }
}
sort = {
  "$sort": {"weeks_on_list": pymongo.DESCENDING}
}

pipeline = [
   group,
   sort
]
resultados = collection.aggregate(pipeline)

i = 1
for resultado in resultados:
   print(f"{i} SEMANAS: {resultado['weeks_on_list']} EDITORIAL: {resultado['_id']}")
   i += 1

1 SEMANAS: 1061 EDITORIAL: Putnam
2 SEMANAS: 943 EDITORIAL: Little, Brown
3 SEMANAS: 619 EDITORIAL: Grand Central
4 SEMANAS: 559 EDITORIAL: Knopf
5 SEMANAS: 475 EDITORIAL: Doubleday
6 SEMANAS: 456 EDITORIAL: Scribner
7 SEMANAS: 421 EDITORIAL: Ballantine
8 SEMANAS: 347 EDITORIAL: Delacorte
9 SEMANAS: 319 EDITORIAL: Bantam
10 SEMANAS: 308 EDITORIAL: Simon & Schuster
11 SEMANAS: 301 EDITORIAL: St. Martin's
12 SEMANAS: 269 EDITORIAL: Viking
13 SEMANAS: 252 EDITORIAL: Random House
14 SEMANAS: 240 EDITORIAL: Morrow/HarperCollins
15 SEMANAS: 231 EDITORIAL: Dutton
16 SEMANAS: 211 EDITORIAL: Harper
17 SEMANAS: 199 EDITORIAL: Riverhead
18 SEMANAS: 185 EDITORIAL: Amy Einhorn/Putnam
19 SEMANAS: 183 EDITORIAL: Atria
20 SEMANAS: 178 EDITORIAL: St. Martin’s
21 SEMANAS: 165 EDITORIAL: Harper/HarperCollins
22 SEMANAS: 149 EDITORIAL: Crown
23 SEMANAS: 125 EDITORIAL: Ace
24 SEMANAS: 100 EDITORIAL: Morrow
25 SEMANAS: 82 EDITORIAL: Emily Bestler/Atria
26 SEMANAS: 79 EDITORIAL: Penguin Press
27 SEMANAS: 74 EDITORIAL: Berkley
28 SEMANAS: 72 EDITORIAL: Farrar, Straus & Giroux
29 SEMANAS: 72 EDITORIAL: Minotaur
30 SEMANAS: 65 EDITORIAL: Del Rey
31 SEMANAS: 65 EDITORIAL: Dial
32 SEMANAS: 63 EDITORIAL: Hyperion
33 SEMANAS: 61 EDITORIAL: Tor/Tom Doherty
34 SEMANAS: 47 EDITORIAL: Pamela Dorman/Viking
35 SEMANAS: 45 EDITORIAL: Ecco/HarperCollins
36 SEMANAS: 43 EDITORIAL: Ecco
37 SEMANAS: 40 EDITORIAL: New American Library
38 SEMANAS: 39 EDITORIAL: Roc
39 SEMANAS: 39 EDITORIAL: Pantheon
40 SEMANAS: 36 EDITORIAL: Mira
41 SEMANAS: 34 EDITORIAL: Marian Wood/Putnam
42 SEMANAS: 33 EDITORIAL: Threshold Editions/Mercury Radio Arts
43 SEMANAS: 29 EDITORIAL: Touchstone
44 SEMANAS: 28 EDITORIAL: Nan A. Talese/Doubleday
45 SEMANAS: 28 EDITORIAL: Tor
46 SEMANAS: 27 EDITORIAL: Kensington
47 SEMANAS: 26 EDITORIAL: Mulholland/Little, Brown
48 SEMANAS: 26 EDITORIAL: Scout
49 SEMANAS: 25 EDITORIAL: Holt
50 SEMANAS: 24 EDITORIAL: Touchstone/Simon & Schuster
51 SEMANAS: 23 EDITORIAL: Tyndale House
52 SEMANAS: 21 EDITORIAL: William Morrow
53 SEMANAS: 21 EDITORIAL: Wizards of the Coast
54 SEMANAS: 20 EDITORIAL: LucasBooks
55 SEMANAS: 19 EDITORIAL: Reagan Arthur/Little, Brown
56 SEMANAS: 18 EDITORIAL: Norton
57 SEMANAS: 17 EDITORIAL: Del Rey/Ballantine
58 SEMANAS: 17 EDITORIAL: Threshold Editions
59 SEMANAS: 17 EDITORIAL: Spiegel & Grau
60 SEMANAS: 16 EDITORIAL: DAW
61 SEMANAS: 16 EDITORIAL: Quirk Books
62 SEMANAS: 15 EDITORIAL: Algonquin
63 SEMANAS: 14 EDITORIAL: Gallery Books
64 SEMANAS: 14 EDITORIAL: Howard Books
65 SEMANAS: 13 EDITORIAL: FaithWords
66 SEMANAS: 13 EDITORIAL: Forge
67 SEMANAS: 12 EDITORIAL: John Macrae/Holt
68 SEMANAS: 12 EDITORIAL: Mullholland Books/Little, Brown
69 SEMANAS: 12 EDITORIAL: El León Literary Arts/Atlantic Monthly
70 SEMANAS: 11 EDITORIAL: Flatiron
71 SEMANAS: 11 EDITORIAL: Center Street
72 SEMANAS: 11 EDITORIAL: Sarah Crichton/Farrar, Straus & Giroux
73 SEMANAS: 11 EDITORIAL: Baen
74 SEMANAS: 11 EDITORIAL: Thomas Dunne/St. Martin's
75 SEMANAS: 10 EDITORIAL: Atria/Emily Bestler
76 SEMANAS: 10 EDITORIAL: Atlantic Monthly
77 SEMANAS: 10 EDITORIAL: Gallery
78 SEMANAS: 10 EDITORIAL: Houghton Mifflin Harcourt
79 SEMANAS: 9 EDITORIAL: Hogarth
80 SEMANAS: 9 EDITORIAL: William Morrow/HarperCollins
81 SEMANAS: 7 EDITORIAL: Gallery/Scout
82 SEMANAS: 7 EDITORIAL: Atria/Emily Bestler Books
83 SEMANAS: 7 EDITORIAL: Ecco/HarperCollins Publishers
84 SEMANAS: 7 EDITORIAL: Delacorte Press
85 SEMANAS: 7 EDITORIAL: Nan A. Talese/ Doubleday
86 SEMANAS: 7 EDITORIAL: HQN
87 SEMANAS: 7 EDITORIAL: Harper Voyager/HarperCollins
88 SEMANAS: 7 EDITORIAL: Voice
89 SEMANAS: 6 EDITORIAL: Howard
90 SEMANAS: 6 EDITORIAL: Knopf/McSweeney's
91 SEMANAS: 6 EDITORIAL: Little, Brown & Company
92 SEMANAS: 6 EDITORIAL: Orbit
93 SEMANAS: 6 EDITORIAL: Del Rey/Ballantine/Lucas
94 SEMANAS: 5 EDITORIAL: Pamela Dorman
95 SEMANAS: 5 EDITORIAL: Liveright
96 SEMANAS: 5 EDITORIAL: Thomas Dunne
97 SEMANAS: 5 EDITORIAL: Eos/William Morrow
98 SEMANAS: 5 EDITORIAL: Little, Brown and Knopf
99 SEMANAS: 5 EDITORIAL: ACE
100 SEMANAS: 5 EDITORIAL: Thomas Dunne/St. Martin’s
101 SEMANAS: 5 EDITORIAL: Shaye Areheart
102 SEMANAS: 4 EDITORIAL: Silver Oak
103 SEMANAS: 4 EDITORIAL: Penguin Group (USA) Incorporated
104 SEMANAS: 4 EDITORIAL: Del Rey/ Ballantine
105 SEMANAS: 4 EDITORIAL: Bloomsbury
106 SEMANAS: 4 EDITORIAL: Eos/HarperCollins
107 SEMANAS: 4 EDITORIAL: Harper Perennial
108 SEMANAS: 3 EDITORIAL: ROC
109 SEMANAS: 3 EDITORIAL: Hogarth Shakespeare
110 SEMANAS: 3 EDITORIAL: Forge/Tom Doherty
111 SEMANAS: 3 EDITORIAL: Cemetery Dance
112 SEMANAS: 3 EDITORIAL: Harper Voyager
113 SEMANAS: 3 EDITORIAL: Atlantic Monthly Press
114 SEMANAS: 3 EDITORIAL: Houghton Mifflin
115 SEMANAS: 3 EDITORIAL: Double­day
116 SEMANAS: 3 EDITORIAL: Random House Publishing Group
117 SEMANAS: 3 EDITORIAL: Kingswell
118 SEMANAS: 3 EDITORIAL: HarperCollins Voyager
119 SEMANAS: 3 EDITORIAL: HarperCollins Publishers
120 SEMANAS: 3 EDITORIAL: NAL
121 SEMANAS: 3 EDITORIAL: Doherty
122 SEMANAS: 3 EDITORIAL: Nan. A Talese/Doubleday
123 SEMANAS: 3 EDITORIAL: Pocket Books
124 SEMANAS: 3 EDITORIAL: Berkley Sensation
125 SEMANAS: 2 EDITORIAL: Amistad/HarperCollins
126 SEMANAS: 2 EDITORIAL: Scout Press
127 SEMANAS: 2 EDITORIAL: HarperVoyager
128 SEMANAS: 2 EDITORIAL: Penguin
129 SEMANAS: 2 EDITORIAL: Tom Doherty/Forge
130 SEMANAS: 2 EDITORIAL: St. Martin‘s
131 SEMANAS: 2 EDITORIAL: Del Rey/Ballantine/LucasBooks
132 SEMANAS: 2 EDITORIAL: St.Martin’s
133 SEMANAS: 2 EDITORIAL: McSweeney's
134 SEMANAS: 2 EDITORIAL: Little Brown & Company
135 SEMANAS: 2 EDITORIAL: Atria,
136 SEMANAS: 2 EDITORIAL: Archipelago
137 SEMANAS: 2 EDITORIAL: Doubleday Publishing
138 SEMANAS: 2 EDITORIAL: Little Brown
139 SEMANAS: 2 EDITORIAL: Flatiron Books
140 SEMANAS: 2 EDITORIAL: allantine
141 SEMANAS: 2 EDITORIAL: St. Martin''s
142 SEMANAS: 2 EDITORIAL: Ballantine,
143 SEMANAS: 2 EDITORIAL: HarperCollins
144 SEMANAS: 2 EDITORIAL: Tor/ Tom Doherty
145 SEMANAS: 2 EDITORIAL: Harlequin Mira
146 SEMANAS: 1 EDITORIAL: Mulholland
147 SEMANAS: 1 EDITORIAL: Doherty/Forge
148 SEMANAS: 1 EDITORIAL: Harlequin MIRA
149 SEMANAS: 1 EDITORIAL: Harlequin HQN
150 SEMANAS: 1 EDITORIAL: ECW Press
151 SEMANAS: 1 EDITORIAL: Marion Wood/Putnam
152 SEMANAS: 1 EDITORIAL: Penguin Group
153 SEMANAS: 1 EDITORIAL: Free Press
154 SEMANAS: 1 EDITORIAL: Daw
155 SEMANAS: 1 EDITORIAL: Amy Einhorn
156 SEMANAS: 1 EDITORIAL: Macrae/Holt
157 SEMANAS: 1 EDITORIAL: St. Martin's Press
158 SEMANAS: 1 EDITORIAL: Grove
159 SEMANAS: 1 EDITORIAL: Morrow/HarperCollins Publishers
160 SEMANAS: 1 EDITORIAL: Harper Voyager/HarperCollins Publishers
161 SEMANAS: 1 EDITORIAL: Viking,
162 SEMANAS: 1 EDITORIAL: Berkeley Prime Crime
163 SEMANAS: 1 EDITORIAL: Viking, $24.95
164 SEMANAS: 1 EDITORIAL: Feiwel & Friends
165 SEMANAS: 1 EDITORIAL: Norton & Company, Incorporated, W. W.
166 SEMANAS: 1 EDITORIAL: Pocket Books/Karen Hunter
167 SEMANAS: 1 EDITORIAL: Knopf Publishing Group
168 SEMANAS: 1 EDITORIAL: Tor/TomDoherty
169 SEMANAS: 1 EDITORIAL: Twelve
170 SEMANAS: 1 EDITORIAL: SJP for Hogarth
171 SEMANAS: 1 EDITORIAL: W. W. Norton
172 SEMANAS: 1 EDITORIAL: St. Martin’s Minotaur
173 SEMANAS: 1 EDITORIAL: Blue Rider
174 SEMANAS: 1 EDITORIAL: Thomas Nelson
175 SEMANAS: 1 EDITORIAL: Pocket
176 SEMANAS: 1 EDITORIAL: HarperOne

# Pandas

Resuelva las preguntas anteriores usando Pandas, en vez de consultar directamente en MongoDb

In [175]:
import pandas as pd
df = pd.read_json('nyt2.json')
df.head()

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list
0,{'$oid': '5b4aa4ead3089013507db18b'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'$numberInt': '27'},Bantam,ODD HOURS,{'$numberInt': '1'},{'$numberInt': '0'},{'$numberInt': '1'}
1,{'$oid': '5b4aa4ead3089013507db18c'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,{'$numberInt': '2'},{'$numberInt': '1'},{'$numberInt': '3'}
2,{'$oid': '5b4aa4ead3089013507db18d'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,{'$numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,{'$numberInt': '3'},{'$numberInt': '2'},{'$numberInt': '2'}
3,{'$oid': '5b4aa4ead3089013507db18e'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,{'$numberDouble': '22.95'},Putnam,THE FRONT,{'$numberInt': '4'},{'$numberInt': '0'},{'$numberInt': '1'}
4,{'$oid': '5b4aa4ead3089013507db18f'},{'$date': {'$numberLong': '1211587200000'}},{'$date': {'$numberLong': '1212883200000'}},http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'$numberDouble': '24.95'},Doubleday,SNUFF,{'$numberInt': '5'},{'$numberInt': '0'},{'$numberInt': '1'}

**Limpieza De Datos**

In [176]:
df['_id'] = pd.DataFrame.from_records(df['_id'])
df['rank'] = pd.DataFrame.from_records(df['rank'])
df['rank'] = df['rank'].astype(int)

df['rank_last_week'] = pd.DataFrame.from_records(df['rank_last_week'])
df['rank_last_week'] = df['rank_last_week'].astype(int)

df['published_date'] = pd.DataFrame.from_records(df['published_date'])
df['published_date'] = pd.DataFrame.from_records(df['published_date'])
df['published_date'] = df['published_date'].apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1e3))

df['bestsellers_date'] = pd.DataFrame.from_records(df['bestsellers_date'])
df['bestsellers_date'] = pd.DataFrame.from_records(df['bestsellers_date'])
df['bestsellers_date'] = df['bestsellers_date'].apply(lambda x: datetime.datetime.utcfromtimestamp(int(x)/1e3))

df['weeks_on_list'] = pd.DataFrame.from_records(df['weeks_on_list'])
df['weeks_on_list'] = df['weeks_on_list'].astype(int)

df['published_year'] = df['published_date'].apply(lambda x: x.year)

df

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list,published_year
0,5b4aa4ead3089013507db18b,2008-05-24,2008-06-08,http://www.amazon.com/Odd-Hours-Dean-Koontz/dp...,Dean R Koontz,"Odd Thomas, who can communicate with the dead,...",{'$numberInt': '27'},Bantam,ODD HOURS,1,0,1,2008
1,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,2,1,3,2008
2,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,{'$numberDouble': '24.95'},St. Martin's,LOVE THE ONE YOU'RE WITH,3,2,2,2008
3,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,{'$numberDouble': '22.95'},Putnam,THE FRONT,4,0,1,2008
4,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,{'$numberDouble': '24.95'},Doubleday,SNUFF,5,0,1,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10190,5b4aa4ead3089013507dd959,2018-07-07,2018-07-22,https://www.amazon.com/Clancy-Line-Sight-Jack-...,Mike Maden,Jack Ryan Jr. risks his life to protect a woma...,{'$numberInt': '0'},Putnam,TOM CLANCY LINE OF SIGHT,11,6,4,2018
10191,5b4aa4ead3089013507dd95a,2018-07-07,2018-07-22,https://www.amazon.com/Something-Water-Novel-C...,Catherine Steadman,A documentary filmmaker and an investment bank...,{'$numberInt': '0'},Ballantine,SOMETHING IN THE WATER,12,11,5,2018
10192,5b4aa4ead3089013507dd95b,2018-07-07,2018-07-22,https://www.amazon.com/Little-Fires-Everywhere...,Celeste Ng,An artist upends a quiet town outside Cleveland.,{'$numberInt': '0'},Penguin Press,LITTLE FIRES EVERYWHERE,13,12,41,2018
10193,5b4aa4ead3089013507dd95c,2018-07-07,2018-07-22,https://www.amazon.com/Shelter-Place-Nora-Robe...,Nora Roberts,Survivors of a mass shooting outside a mall in...,{'$numberInt': '0'},St. Martin's,SHELTER IN PLACE,14,5,6,2018
10194,5b4aa4ead3089013507dd95d,2018-07-07,2018-07-22,https://www.amazon.com/Last-Time-Lied-Novel/dp...,Riley Sager,A painter is in danger when she returns to the...,{'$numberInt': '0'},Dutton,THE LAST TIME I LIED,15,0,1,2018

Para limpiar el precio:

In [164]:
for i in range(len(df)):
  if 'Int' in str(df.loc[i,'price']):
    df.loc[i,'price'] = int(df.loc[i, 'price'].get('$numberInt'))
  else:
    df.loc[i,'price'] = float(df.loc[i, 'price'].get('$numberDouble'))

## Pregunta 4

Encuentre los libros que han estado más de 10 semanas en la lista.

In [177]:
df.copy()[df['weeks_on_list'] > 10]

,_id,bestsellers_date,published_date,amazon_product_url,author,description,price,publisher,title,rank,rank_last_week,weeks_on_list,published_year
163,5b4aa4ead3089013507db22e,2008-07-19,2008-08-03,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,4,7,11,2008
182,5b4aa4ead3089013507db241,2008-07-26,2008-08-10,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,3,4,12,2008
194,5b4aa4ead3089013507db24d,2008-07-26,2008-08-10,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman’s happy marriage is shaken when she en...,{'$numberDouble': '24.95'},St. Martin’s,LOVE THE ONE YOU'RE WITH,15,13,11,2008
202,5b4aa4ead3089013507db255,2008-08-02,2008-08-17,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,{'$numberDouble': '25.99'},"Little, Brown",THE HOST,3,3,13,2008
213,5b4aa4ead3089013507db260,2008-08-02,2008-08-17,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman encounters an old boyfriend.,{'$numberDouble': '24.95'},St. Martin’s,LOVE THE ONE YOU'RE WITH,14,15,12,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10178,5b4aa4ead3089013507dd94d,2018-06-30,2018-07-15,https://www.amazon.com/Woman-Window-Novel-J-Fi...,AJ Finn,A recluse who drinks heavily and takes prescri...,{'$numberInt': '0'},Morrow,THE WOMAN IN THE WINDOW,14,0,23,2018
10179,5b4aa4ead3089013507dd94e,2018-06-30,2018-07-15,https://www.amazon.com/Great-Alone-Novel-Krist...,Kristin Hannah,A former prisoner of war moves his family to A...,{'$numberInt': '0'},St. Martin's,THE GREAT ALONE,15,0,18,2018
10188,5b4aa4ead3089013507dd957,2018-07-07,2018-07-22,https://www.amazon.com/Fallen-Memory-Man-David...,David Baldacci,Amos Decker puts his talents toward solving a ...,{'$numberInt': '0'},Grand Central,THE FALLEN,9,13,12,2018
10189,5b4aa4ead3089013507dd958,2018-07-07,2018-07-22,https://www.amazon.com/Before-We-Were-Yours-No...,Lisa Wingate,A South Carolina lawyer learns about the quest...,{'$numberInt': '0'},Ballantine,BEFORE WE WERE YOURS,10,10,42,2018
10192,5b4aa4ead3089013507dd95b,2018-07-07,2018-07-22,https://www.amazon.com/Little-Fires-Everywhere...,Celeste Ng,An artist upends a quiet town outside Cleveland.,{'$numberInt': '0'},Penguin Press,LITTLE FIRES EVERYWHERE,13,12,41,2018

## Pregunta 5

Encuentre los libros anteriores al 2015 que estuvieron más de 5 semanas en la lista de best sellers, indique cuantas semanas estuvo cada libro en la lista. (Los campos de fechas vienen como timestamps de UNIX)

In [178]:
df.copy().loc[df['weeks_on_list'] > 5].loc[df['published_year'] < 2015][['title', 'weeks_on_list', 'published_year']]

                                  title  weeks_on_list  published_year
32                      THE WHOLE TRUTH              6            2008
47                 SUNDAYS AT TIFFANY’S              6            2008
62                             THE HOST              6            2008
69                 SUNDAYS AT TIFFANY’S              7            2008
82                             THE HOST              7            2008
...                                 ...            ...             ...
6847                   THE BURNING ROOM              6            2014
6848                   EDGE OF ETERNITY             13            2014
6850                      PRINCE LESTAT              7            2014
6852                      THE GOLDFINCH             55            2014
6853  SOMEWHERE SAFE WITH SOMEBODY GOOD             14            2014

[1550 rows x 3 columns]

# Pregunta 6

Muestre el raking de los editores (publishers) que más semanas han estado en la lista de los best sellers.

In [179]:
df['publisher'].value_counts().reset_index()

                                       index  publisher
0                                     Putnam       1061
1                              Little, Brown        943
2                              Grand Central        619
3                                      Knopf        559
4                                  Doubleday        475
..                                       ...        ...
171          Morrow/HarperCollins Publishers          1
172                                ECW Press          1
173                            Harlequin HQN          1
174  Harper Voyager/HarperCollins Publishers          1
175                          SJP for Hogarth          1

[176 rows x 2 columns]